.logo_intro {
  //border: solid 1px red;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.section_logo {
  border: solid 1px red;
}
.section--content {
  border: solid 1px yellow;
  //padding-top: 100px;
}